.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #E5E5E5;
  font-family: 'Montserrat', sans-serif;

  .title {
    text-align: center;
    background-image: url(../../assets/images/pittsburgh_map.png);
    background-position: center;
    height: 333px;

    h1 {
      text-align: center;
      text-transform: lowercase;
      color: #000000;
      font-size: 24px;
      padding-top: 134px;
      margin: 0 auto;
    }

    p {
      padding-top: 120px;
      color: gray;
      margin: auto;
    }

  }

  .enter-zip-code {
    text-align: center;
  
    h2 {
      color: #49D481;
      font-size: 16px;
      margin-top: 38px;
      text-transform: uppercase;
    }

    textarea {
      margin-top: 77px;
      width: 261px;
      height: 32px;
      background-color: #E5E5E5;
      color: #B9D7C5;
      font-size: 24px;
      border: none;
    }

    button {
      margin-top: 88px;
      text-align: center;
      text-transform: uppercase;
      width: 324px;
      height: 54px;
      border-radius: 6px;
      background-color: #46D07D;
      color: white;
    }

  }

}
 